<h1>Listing historia_enfermedads</h1>

<table>
  <tr>
    <th>Historia</th>
    <th>Enfermedad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @historia_enfermedads.each do |historia_enfermedad| %>
  <tr>
    <td><%= historia_enfermedad.historia_id %></td>
    <td><%= historia_enfermedad.enfermedad_id %></td>
    <td><%= link_to 'Show', historia_enfermedad %></td>
    <td><%= link_to 'Edit', edit_historia_enfermedad_path(historia_enfermedad) %></td>
    <td><%= link_to 'Destroy', historia_enfermedad, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Historia enfermedad', new_historia_enfermedad_path %>
