<h1>Listing enfermedads</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enfermedads.each do |enfermedad| %>
  <tr>
    <td><%= enfermedad.descripcion %></td>
    <td><%= link_to 'Show', enfermedad %></td>
    <td><%= link_to 'Edit', edit_enfermedad_path(enfermedad) %></td>
    <td><%= link_to 'Destroy', enfermedad, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enfermedad', new_enfermedad_path %>
