<%= form_for(@medicamento) do |f| %>
  <% if @medicamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicamento.errors.count, "error") %> prohibited this medicamento from being saved:</h2>

      <ul>
      <% @medicamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :dosis %><br />
    <%= f.text_field :dosis %>
  </div>
  <div class="field">
    <%= f.label :historia_enfermedad_id %><br />
    <%= f.number_field :historia_enfermedad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
