<h1>Listing medicamentos</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th>Dosis</th>
    <th>Historia enfermedad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medicamentos.each do |medicamento| %>
  <tr>
    <td><%= medicamento.descripcion %></td>
    <td><%= medicamento.dosis %></td>
    <td><%= medicamento.historia_enfermedad_id %></td>
    <td><%= link_to 'Show', medicamento %></td>
    <td><%= link_to 'Edit', edit_medicamento_path(medicamento) %></td>
    <td><%= link_to 'Destroy', medicamento, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medicamento', new_medicamento_path %>
