<%= form_for(@medico) do |f| %>
  <% if @medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
      <% @medico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dni %><br />
    <%= f.number_field :dni %>
  </div>
  <div class="field">
    <%= f.label :nombres %><br />
    <%= f.text_field :nombres %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br />
    <%= f.text_field :apellidos %>
  </div>
  <div class="field">
    <%= f.label :celular %><br />
    <%= f.number_field :celular %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
